@model HardwaveStockManagement.ViewModels.StoreViewModel
@{
	ViewData["Title"] = "Store";
	Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="text-center">

	<h1 class="display-4">Hardwave Hardware Storefront</h1>
	<p>Search through the store inventory and add items to an order.</p>

    <div class="d-flex justify-content-center">
        <form asp-action="SearchItems" class="d-flex">
            <input asp-for="SearchInput" class="form-control me-2" style="width: 22rem" type="search" placeholder="Search" aria-label="Search">
            <input asp-controller="Store" asp-action="SearchItems" class="btn btn-primary" value="Search" type="submit" asp-route-input="SearchInput" />
        </form>
    </div>

    <table class="table" id="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Item Type</th>
                <th>Stock</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                List<Items> displayedItems = new();
                if (Model.SearchOutput!.Count == 0 || Model.SearchOutput == null)
                {
                    displayedItems.AddRange(Model.CaseList);
                    displayedItems.AddRange(Model.CPUList);
                    displayedItems.AddRange(Model.GraphicsCardList);
                    displayedItems.AddRange(Model.LaptopList);
                    displayedItems.AddRange(Model.MemoryList);
                    displayedItems.AddRange(Model.MonitorList);
                    displayedItems.AddRange(Model.MotherboardList);
                    displayedItems.AddRange(Model.StorageList);
                    displayedItems.OrderBy(item => item.ID).ToList();
                }
                else
                {
                    displayedItems = Model.SearchOutput!;
                }
                foreach (var item in displayedItems)
                {
                    <tr>
                        <th scope="row">@Html.Raw(item.ID)</th>
                        <td>@Html.Raw(item.Name)</td>
                        <td>@Html.Raw(item.Type)</td>
                        <td>@Html.Raw(item.Stock)</td>
                        <td>£@string.Format("{0:#,##0.##}", item.Price)</td>
                        @{
                            if (item.Type == "case")
                            {
                                <td><a class="btn btn-info" asp-action="StoreCaseView" asp-controller="StoreItems" asp-route-caseId="@item.ID">Info</a></td>
                            }
                            if (item.Type == "cpu")
                            {
                                <td><a class="btn btn-info" asp-action="StoreCPUView" asp-controller="StoreItems" asp-route-cpuId="@item.ID">Info</a></td>
                            }
                            if (item.Type == "graphics card")
                            {
                                <td><a class="btn btn-info" asp-action="StoreGraphicsCardView" asp-controller="StoreItems" asp-route-graphicsCardId="@item.ID">Info</a></td>
                            }
                            if (item.Type == "laptop")
                            {
                                <td><a class="btn btn-info" asp-action="StoreLaptopView" asp-controller="StoreItems" asp-route-laptopId="@item.ID">Info</a></td>
                            }
                            if (item.Type == "memory")
                            {
                                <td><a class="btn btn-info" asp-action="StoreMemoryView" asp-controller="StoreItems" asp-route-memoryId="@item.ID">Info</a></td>
                            }
                            if (item.Type == "monitor")
                            {
                                <td><a class="btn btn-info" asp-action="StoreMonitorView" asp-controller="StoreItems" asp-route-monitorId="@item.ID">Info</a></td>
                            }
                            if (item.Type == "motherboard")
                            {
                                <td><a class="btn btn-info" asp-action="StoreMotherboardView" asp-controller="StoreItems" asp-route-motherboardId="@item.ID">Info</a></td>
                            }
                            if (item.Type == "storage")
                            {
                                <td><a class="btn btn-info" asp-action="StoreStorageView" asp-controller="StoreItems" asp-route-storageId="@item.ID">Info</a></td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
