@model CPU
@{
    ViewData["Title"] = "CPU";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1>@Html.Raw(Model.Name)</h1>
<div>
    <div>
        <table class="table" id="table">
            <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>@Html.DisplayFor(model => model.ID)</td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <th scope="row">Type</th>
                    <td>@Html.DisplayFor(model => model.Type)</td>
                </tr>
                <tr>
                    <th scope="row">Stock</th>
                    <td>@Html.DisplayFor(model => model.Stock)</td>
                </tr>
                <tr>
                    <th scope="row">Price</th>
                    <td>£@Html.DisplayFor(model => model.Price)</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <th scope="row">Cores</th>
                    <td>@Html.DisplayFor(model => model.Cores)</td>
                </tr>
                <tr>
                    <th scope="row">Clock Speed</th>
                    <td>@Html.DisplayFor(model => model.ClockSpeed) GHz</td>
                </tr>
                <tr>
                    <th scope="row">Socket</th>
                    <td>@Html.DisplayFor(model => model.Socket)</td>
                </tr>
            </tbody>
        </table>
        <div class="w-25">
            <a class="btn btn-danger mb-4" asp-action="StoreView" asp-controller="Store">Back</a>
            <form asp-action="AddItemToOrder">
                <label class="form-label" for="amountRange">Amount: <span id="amountText">0</span></label>
                <input class="form-range" type="range" id="amountRange" asp-for="@Model.OrderAmount" min="0" max="@Model.Stock" value="0" onmousemove="AdjustSliderValue()" />
                <input class="btn btn-success" id="submitButton" asp-action="AddItemToOrder" asp-controller="Order" type="submit" value="Add item/s to order"
                       asp-route-itemId="@Model.ID" asp-route-orderAmount="@Model.OrderAmount" />
            </form>
        </div>
    </div>
</div>
